html {
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    color: white;
}

*, *::before, *::after {
    box-sizing: inherit;
}

#ping-pong-table {
    border: 2px solid rgb(228, 210, 210);
    width: 700px;
    height: 400px;
    position: relative;
}

#paddle {
    background-color: blue;
    height: 75px;
    width: 10px;
    margin-left: 2px;
    position: absolute;
}

#ball {
    background-color: red;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
}